<div>
    <div>
        <span>
            Оцініть якість виконання вправи:
        </span>
        <rating ng-model="$ctrl.evaluation.grade" max="5"></rating>
        <select name="singleSelect" ng-model="$ctrl.evaluation.feeling">
            <option value="noPain">Немає болі</option>
            <option value="mediumPain">Помірний біль</option>
            <option value="strongPain">Сильний біль</option>
        </select>
    </div>
    <div>
        <button ng-click="$ctrl.goToNextExercise()">Наступна вправа</button>
    </div>
</div>