<div ng-show="$ctrl.isLoaded" class="container">
    <div ng-if="$ctrl.currentState.isTrainingFinished">
        Тренування закінчено!
    </div>
    <div ng-if="!$ctrl.currentState.isTrainingFinished">
        <div ng-if="$ctrl.currentState.anyAssignments">
            <div ng-if="$ctrl.currentState.isExecuting">
                <assignment exercise="$ctrl.currentState.currentAssignment"></assignment>
                <div style="width: 300px; margin: 0 auto">
                    <button class="exercise-button" ng-show="!$ctrl.isStarted" ng-click="$ctrl.startExercise()">Розпочати виконання вправи</button>
                    <div ng-show="$ctrl.isStarted">
                        <div class="stopWatch numbers">{{$ctrl.options.elapsedTime | stopwatchTime}}</div>
                        <div class="exercise-button">
                            <button ng-click="$ctrl.finishExercise()">Виконано!</button>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-if="!$ctrl.currentState.isExecuting">
                <exercise-evaluation exercise="$ctrl.currentState.currentAssignment"></exercise-evaluation>
            </div>

        </div>
        <div ng-if="!$ctrl.currentState.anyAssignments">
            Немає вправ на сьогодні...
        </div>
    </div>
</div>
<div ng-show="!$ctrl.isLoaded">
    Завантаження вправ...
</div>