<div ng-show="$ctrl.isLoaded">
    <div ng-if="$ctrl.currentState.anyAssignments">
        <div ng-if="$ctrl.currentState.isExecuting">
            <assignment exercise="$ctrl.currentState.currentAssignment"></assignment>
            <button ng-show="!$ctrl.isStarted" ng-click="$ctrl.startExercise()">Розпочати виконання вправи</button>
            <div ng-show="$ctrl.isStarted">
                <div class="stopWatch numbers">{{$ctrl.options.elapsedTime | stopwatchTime}}</div>
                <div>
                    <button ng-click="$ctrl.finishExercise()">Виконано!</button>
                </div>
            </div>
        </div>
        <div ng-if="!$ctrl.currentState.isExecuting">
            <exercise-evaluation exercise="$ctrl.currentState.currentAssignment"></exercise-evaluation>            
        </div>

    </div>
    <div ng-if="!$ctrl.currentState.anyAssignments">
        Немає вправ на сьогодні...
    </div>
</div>
<div ng-show="!$ctrl.isLoaded">
    Завантаження вправ...
</div>